{% extends 'google_trends/base.html' %}
{%  load static %}
{% block content%}
    <div class="row mt-5">
        <div class="col-9 text-center">
            {% if messages %}
          <div class="alert alert-danger" role="alert">
              {% for message in messages %}
                <div>
                    {{message}}
                </div>
              {% endfor %}
          </div>
        {% endif %}
            <form class="ms-1" method="post">
                {% csrf_token %}
              <div class="form-group row mb-2">
                <label for="keyword" class="col-sm-2 col-form-label">Keyword<span class="text-danger">*</span> </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="keyword" placeholder="e.g.wild cats" name="kw_list">
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="start_date" class="col-sm-2 col-form-label">start date </label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="start_time" class="col-sm-2 col-form-label">start time</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control" id="start_time" name="start_time">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="end_date" class="col-sm-2 col-form-label">end date </label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="end_time" class="col-sm-2 col-form-label">end time</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control" id="end_time" name="end_time">
                </div>
              </div>
                  <button type="button" class="btn btn-primary validate" onclick="submit_data()">Find Trends</button>

            </form>
        </div>

    </div>
    <div class="col-12">
        <div id="chartdiv"></div>
    </div>
{%endblock%}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="{% static 'google_trends/trends.js'%}"></script>

{% endblock %}

