{% extends 'google_trends/base.html' %}
{%  load static %}
{% block content%}


    <div class="row mt-5">
        <div class="col-4">
            {% if messages %}
          <div class="alert alert-danger" role="alert">
              {% for message in messages %}
                <div>
                    {{message}}
                </div>
              {% endfor %}
          </div>
        {% endif %}
            <form class="ms-1" method="post">
                {% csrf_token %}
              <div class="form-group row mb-2">
                <label for="keyword" class="col-sm-2 col-form-label">Keyword<span class="text-danger">*</span> </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="keyword" placeholder="e.g.wild cats" name="kw_list">
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="start_date" class="col-sm-2 col-form-label">start date </label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="start_date" name="start_date">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="start_time" class="col-sm-2 col-form-label">start time</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control" id="start_time" name="start_time">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="end_date" class="col-sm-2 col-form-label">end date </label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="end_date" name="end_date">
                </div>
              </div>
                <div class="form-group row mb-2">
                <label for="end_time" class="col-sm-2 col-form-label">end time</label>
                <div class="col-sm-10">
                  <input type="time" class="form-control" id="end_time" name="end_time">
                </div>
              </div>
                  <button type="button" class="btn btn-primary validate" onclick="submit_data()">Find Trends</button>

            </form>
        </div>

    </div>
<div class="col-12">
            <div id="chartdiv"></div>
        </div>
{%endblock%}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script>
    function submit_data() {
        $.ajax('', {
            type: 'POST',  // http method
            data: {
                kw_list: document.getElementById('keyword').value,
                start_date: document.getElementById('start_date').value,
                start_time: document.getElementById('start_time').value,
                end_date: document.getElementById('end_date').value,
                end_time: document.getElementById('end_time').value
             },  // data to submit
            success: function (data) {
                console.log(data, '88888')
                if(!data.error) {
                   get_interests();
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                    alert(errorMessage);
            }
        });
    }

    function get_interests() {
        var keyword = document.getElementById('keyword').value;
        $.ajax({
        type: "GET",
        url: `/trends/${keyword}`,
        data: {},
        success: function(data) {
            console.log('dataknjk ', data)
            if(!data.success) {
                document.getElementById('keyword').value = "";
                alert(data.msg);
            }
            else {
                document.getElementById('keyword').value = data.search_keyword;
                draw_chart(data)
            }
        }
       });
    }


   function draw_chart(data) {
    am4core.useTheme(am4themes_animated);
   // get interests data


    // Create chart instance
    var chart = am4core.create("chartdiv", am4charts.XYChart);

    // Add data
    chart.data = data.interests;

    // Create axes
    var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
    dateAxis.dataFields.category = "Date";
    dateAxis.renderer.grid.template.location = 0.5;
    dateAxis.dateFormatter.inputDateFormat = "M/d/yyyy";
    dateAxis.renderer.minGridDistance = 70;




    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.LineSeries());
    series.dataFields.valueY = "trends";
    series.dataFields.dateX = "date_time";
    series.strokeWidth = 0.5
    series.strokeOpacity = 0.3;

    var bullet = series.bullets.push(new am4charts.CircleBullet());
    bullet.strokeWidth = 0.5;
    bullet.stroke = am4core.color("#fff")

    chart.legend = new am4charts.Legend();
chart.cursor = new am4charts.XYCursor();
   }

    // validate user added keywords
    $(".validate").on("click", function () {
        if (!valid()) {
            alert("Please, provide a keyword.");
            return false;
        }
    });

    function valid() {
        let keyword = document.getElementById('keyword').value;
        console.log('keyword ', keyword);
        return keyword ? true : false;
    }
</script>

{% endblock %}

